.hero {
    text-align: center;
    background-color: var(--bg-light);
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.hero-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    position: relative;
}

.hero-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.first-name {
    position: relative;
    color: var(--text-dark);
    font-weight: 700;
    display: block;
    padding: 0.2rem 1rem;
    line-height: 1.1;
    z-index: 1;
}

.first-name::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: var(--primary);
    opacity: 1;
    z-index: -1;
    transform: skew(-2deg);
    border-radius: 4px;
}

.last-name {
    position: relative;
    color: var(--text-dark);
    font-weight: 700;
    display: block;
    padding: 0.2rem 1rem;
    line-height: 1.1;
    z-index: 1;
}

.last-name::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: var(--accent);
    opacity: 1;
    z-index: -1;
    transform: skew(-2deg);
    border-radius: 4px;
}

.hero-subtitle {
    font-size: var(--body-font-size);
    font-weight: 300;
    color: var(--text-light);
    letter-spacing: 0.05em;
    line-height: var(--body-line-height);
}

.hero-subtitle .highlight {
    font-weight: 500;
    color: var(--primary);
    transition: color 0.3s ease;
}

.hero-subtitle .highlight:hover {
    color: var(--accent);
} 