.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

main {
    padding-top: var(--header-height);
}

section {
    padding: 4rem 5%;
    max-width: var(--max-width);
    margin: 0 auto;
} 