.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

main {
    padding-top: var(--header-height);
}

section {
    padding: 4rem 5%;
    max-width: var(--max-width);
    margin: 0 auto;
}

/* Standard Section Layout */
.section-standard {
    padding: var(--section-padding);
    position: relative;
    max-width: var(--section-max-width);
    margin: 0 auto;
}

.section-standard h1 {
    text-align: var(--section-header-align);
    margin: var(--section-header-margin);
    grid-column: 1 / -1;
    font-size: var(--h1-font-size);
} 